################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



/Manager_Request/obj
/Manager_Request/bin
/Manager_Request.Application/obj
/Manager_Request.Application/bin
/Manager_Request.Data/obj
/Manager_Request.Data/bin
/Manager_Request.Data.EF/obj
/Manager_Request.Data.EF/bin
/Manager_Request.Infrastructure/bin
/Manager_Request.Infrastructure/obj
/Manager_Request.Utilities/obj
/Manager_Request.Utilities/bin
/Manager_Request.Application/obj
/Manager_Request.Application/bin
/Manager_Request.Data/bin
/Manager_Request.Data/obj
/Manager_Request.Data/obj
/Manager_Request.Data/bin
/Manager_Request.Data.EF/bin
/Manager_Request.Data.EF/obj
/Manager_Request.Data.EF/obj
/Manager_Request.Data.EF/bin
/Manager_Request.Infrastructure/bin
/Manager_Request.Infrastructure/obj
/Manager_Request.Utilities/obj
/Manager_Request.Utilities/bin
/Manager_Request.Utilities/obj
/Manager_Request.Utilities/bin
/Manager_Request.Infrastructure/obj
/Manager_Request.Infrastructure/bin
/Manager_Request.Data.EF/bin
/Manager_Request.Data.EF/obj
/Manager_Request.Data/obj
/Manager_Request.Data/bin
/Manager_Request.Application/obj
/Manager_Request.Application/bin

